<div class="jumbotron center">
	<h1>About Us</h1>

	<p>We are working on our Empty Desires app.</p>

	<p>We all have things that we want to do or hold onto in the back of our minds that we can't seem to let go.</p>

	<p>Empty desires is your personal space to let go of those things and get to the nitty gritty of what you're after in life.</p>
</div>